
a,
body,
button,
div,
h1,
head,
html,
img,
li,
link,
nav,
p,
span,
table,
tbody,
td,
th,
thead,
tr,
ul{
  
    /* Positioning */
    margin: 0;
    vertical-align: baseline;
  
    /* Box-model */
    padding: 0;
  
    /* Typography */
    font-size: 100%;
    font: inherit;
  
    /* Visual */
    border: 0;
    
  }
